[project]
	description = Chef PHP Env CookBook
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Liciane Andreatta (licianeandreatta)
[access "refs/for/refs/*"]
	read = group user/Liciane Andreatta (licianeandreatta)
	push = group user/Liciane Andreatta (licianeandreatta)
	label-Code-Review = -2..+2 group user/Liciane Andreatta (licianeandreatta)
	label-Verified = -1..+1 group user/Liciane Andreatta (licianeandreatta)
	rebase = group user/Liciane Andreatta (licianeandreatta)
	removeReviewer = group user/Liciane Andreatta (licianeandreatta)
	submit = group user/Liciane Andreatta (licianeandreatta)
[access "refs/heads/*"]
	read = group user/Liciane Andreatta (licianeandreatta)
	create = group user/Liciane Andreatta (licianeandreatta)
	push = +force group user/Liciane Andreatta (licianeandreatta)
	pushMerge = group user/Liciane Andreatta (licianeandreatta)
[access "refs/tags/*"]
	push = +force group user/Liciane Andreatta (licianeandreatta)
	pushTag = group user/Liciane Andreatta (licianeandreatta)
	pushSignedTag = group user/Liciane Andreatta (licianeandreatta)
